# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates


# Build results
bin/
obj/
out/

# Ignore appsettings for Web project
/RecordManagementSystem/appsettings.json
/RecordManagementSystem/appsettings.*.json


