@page "/signup"
@layout LoginLayout

<div class="card">
    <h1>Mindoro State University</h1>
    <img src="/images/MinsuLogo.png" />
    <input type="text" placeholder="Email" />
    <input type="password" placeholder="Password" />
    <button>Sign up</button>
</div>


@code {

}
